    .container {
      margin: 0 auto;
      width: 50%;
    }
    .para {
      margin: 0 auto;
      text-align: center;
    }
    
    .container p, .para p {
      font-family: 'Fira Sans' sans-serif;
    }
  
.heading {
text-align: center;
font-size: 28px;
background: #f8f9fa;
border-radius: 10px;
border: 3px solid black;
}